      .notes { display: none; }
      .stroke {
        -webkit-text-stroke-color: red;
        -webkit-text-stroke-width: 1px;
      } /* currently webkit-only */
      
      body {
        font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px; top: 0px;
      }
      
      .presentation {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        display: block;
        overflow: hidden;
        background: url(img/bg.png) repeat 0 0;
      }
      
      .slides {
        width: 100%;
        height: 100%;
        /*
        overflow: hidden;
        */
        left: 0;
        top: 0;
        position: absolute;
        display: block;
        -webkit-transition: -webkit-transform 1s ease-in-out;
        -moz-transition: -moz-transform 1s ease-in-out;
        -o-transition: -o-transform 1s ease-in-out;
        transition: transform 1s ease-in-out;
      }

      .slide {
        display: none;
        position: absolute;
        overflow: hidden;
        width: 900px;
        height: 90%;
        left: 50%;
        top: 6%;
        background-color: #fff;
        -webkit-transition: margin 0.25s ease-in-out;
        -moz-transition: margin 0.25s ease-in-out;
        -o-transition: margin 0.25s ease-in-out;
        transition: margin 0.25s ease-in-out;
             -moz-box-shadow: 0px 0px 4px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #000; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE 9.0 */

      }
      
      .slide:nth-child(even) {
        border-radius: 20px 0; /* includes Opera 10.5+ */
        -moz-border-radius: 20px 0;
        -khtml-border-radius: 20px 0;

      }
      
      .slide:nth-child(odd) {
        border-radius: 0 20px;
        -moz-border-radius: 0 20px;
        -khtml-border-radius: 0 20px;
      }

      .slide p {
        font-size: 20px;
      }

      .slide .counter {
        color: #999999;
        position: absolute;
        left: 20px;
        bottom: 20px;
        display: block;
        font-size: 12px;
      }

      .slide.title > .counter,
      .slide.segue > .counter,
      .slide.mainTitle > .counter {
        display: none;
      }

      .force-render {
        display: block;
        margin-top: -10000px;
      }

      section.intro p {
        font-size: 35px;
      }

      button {
        font-size: 20px;
      }
      
      .summary {
       font-size: 30px;
      }

      .bullets {
       font-size: 40px;
      }
      
      .slide.far-past {
        display: block;
        margin-left: -2400px;
      }
      
      .slide.past {
        display: block;
        margin-left: -1400px;
      }
      
      .slide.current {
        display: block;
        margin-left: -450px;
      }
      
      .slide.future {
        display: block;
        margin-left: 500px;
      }
      
      .slide.far-future {
        display: block;
        margin-left: 1500px;
      }

      body.three-d div.presentation {
        /*background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 1000, from(#333), to(#000));        */
      }
      
      body.three-d div.slides {
        -webkit-transform: translateX(50px) scale(0.8) rotateY(10deg);
        -moz-transform: translateX(50px) scale(0.8) rotateY(10deg);
        -o-transform: translateX(50px) scale(0.8) rotateY(10deg);
        transform: translateX(50px) scale(0.8) rotateY(10deg);
      }
      
      
      /* Content */
      
      @font-face { font-family: 'Junction'; src: url(src/Junction02.otf); }
      @font-face { font-family: 'LeagueGothic'; src: url(league.otf); }
      
      header {
        font-family: 'LeagueGothic', sans-serif;
        font-weight: bold;
        font-size: 60px;
        padding: 36px 0 36px 48px;
        color: white;
        color: black;
        width: 100%;
        color: #444;
        height: 60px;
        background: url(img/header_bg.jpg) repeat-x 0 bottom;
        text-transform: uppercase;
        text-shadow: 0 2px 2px #fff;
        position: absolute;
        left: 0px;
        top: 0px;
        margin: 0;
      }
      
      .intro h1 {
        color: black;
        padding: 0;
        margin: 0;
        letter-spacing: -1px;
        font-size: 198px;
        text-transform: uppercase;
        font-family: 'LeagueGothic', Helvetica, “Helvetica Neue”, Arial, sans-serif;
        text-shadow: 0 1px 3px #fff;
        font-weight: bold
      }
      	.intro h1 span {font-size: 70%;color: #999;letter-spacing: 1px}
      	
      .intro h2 {
        color: black;
        padding: 0;
        margin: 0;
        font-family: Helvetica, “Helvetica Neue”, Arial, sans-serif;
        font-size: 36px;
        font-weight: normal;
        color: #777;
        letter-spacing: -1px;
         text-shadow: 0 1px 3px #fff;
      }
      
      h1 {
        display: inline;
        font-size: 100%;
      	font-weight: normal;
      	padding: 0;
      	margin: 0;
      }
      
      h2 {
        font-family: 'Droid Sans';
        color: black;
        font-size: 18px;
        margin-left: 20px;
       
      }
      
      h2:first-child {
        margin-top: 0;
      }
	
	h3 {font-size: 14px;color: #666; text-shadow: 0 1px 3px #fff;margin: 0}
	.badge {position: absolute;top:0px;right: 0px;background: url(img/title_badge.png) no-repeat 0 -6px;width: 170px;height: 155px}
      
      section, footer {
        font-family: 'Droid Sans';
        font-size: 50px;
        color: #3f3f3f;
        text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
        display: block;
        overflow: hidden;
      }
      
      section {
      	padding: 160px 48px 0
      }
      
      	section.intro {padding-top: 0}
      	
       section ul {
       padding: 0;
       margin: 0;
       	list-style: square;
       }
       
      section ul li {
      	font-size: 32px;
      	list-style: circle;
      	font-family: Helvetica, “Helvetica Neue”, Arial, sans-serif;
      	color: #666;
      	text-shadow: 0 1px 1px #fff;
      	padding: 0;
      	margin: 0 0 24px 36px;
      	line-height: 42px;
      	
      }
      
      img.border {
      	padding: 12px;
      	border: 1px solid #ccc;
      	  -moz-box-shadow: 0px 2px 4px #ddd; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 2px #ddd; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 2px #ddd; /* Opera 10.5, IE 9.0 */
 -moz-transform: rotate(1.5deg);  
       -o-transform: rotate(1.5deg);   
        -webkit-transform: rotate(1.5deg);  

      }
      
      footer { font-size: 12px; margin-top: 20px;}

      a {
        color: inherit;
        display: inline-block;
        text-decoration: none;
        line-height: 110%;
        border-bottom: 2px solid #3f3f3f;
      }

      #wmap a {
        line-height: 100%;
        border-bottom: none;
      }
      
      section.left {
        float: left;
        width: 390px;
      }
      
      section.small {
        font-size: 24px;
      }
      
      section.small ul {
        margin: 0 0 0 15px;
        padding: 0;
      }
      
      section.small li {
        padding-bottom: 0;
        font-size: 12px
      }
      
      h2 {
        padding: 0;
        margin: 15px 0 5px 0;
/*        font-family: GG240;*/
      }
      
      section.center {
        line-height: 180%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        height: 700px;
        width: 900px;
      }
      
      pre {
        text-align: left;
        font-size: 14px;
        font-family: Courier;
        text-shadow: 0 1px 1px #fff;
        padding: 10px 20px;
        line-height: 20px;
        background: rgba(255, 0, 0, 0.05);
        border: 1px solid rgba(255, 0, 0, 0.2);
      }
      .two-column {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
      
      pre select {
        font-size: 16px;
        font-family: Monaco, Courier;
        border: 1px solid #c61800;
      }
        
      input {
        font-size: 16px;
        font-family: Helvetica;
        padding: 3px;
      }
      input[type="range"] {
        width: 100%;
      }
      
      button {
        font-family: Verdana;
      }
      
      button.large {
        font-size: 32px;
      }
        
      pre b {
        font-weight: normal;
        color: #c61800;
        text-shadow: #c61800 0 0 1px;
        /*letter-spacing: -1px;*/
      }
      pre em {
        font-weight: normal;
        font-style: normal;
        color: #18a600;
        text-shadow: #18a600 0 0 1px;
      }
      pre input[type="range"] {
        height: 6px;
        cursor: pointer;
        width: auto;
      }
      example {
        font-size: 16px;
        display: block;
        padding: 10px 20px;
        color: black;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        -moz-border-radius: 8px;
        margin-bottom: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      video {
        border-radius: 8px;
        -moz-border-radius: 8px;
        -khtml-border-radius: 8px;
        -webkit-border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      
      .css,
      .js,
      .html,
      .key {
        font-family: 'Droid Sans';
        color: black;
        display: inline-block;
        padding: 6px 10px 3px 10px;
        font-size: 25px;
        line-height: 30px;
        text-shadow: none;
        letter-spacing: 0;
        bottom: 10px;
        position: relative;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -khtml-border-radius: 10px;
        -webkit-border-radius: 10px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
        -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
        -o-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
      }
      
      .key { font-family: Arial; }
      
      :not(header) > .css,
      :not(header) > .js,
      :not(header) > .html,
      :not(header) > .key {
        margin: 0 5px;
        bottom: 4px;
      }
      
      .css {
        background: -webkit-gradient(linear, left top, left bottom, from(#ff4), to(#ffa));
        background-color: #ff4;
        background: -moz-linear-gradient(left top, #ff4, #ffa);
      }
      .js {
        background: -webkit-gradient(linear, left top, left bottom, from(#4f4), to(#afa));
        background-color: #4f4;
        background: -moz-linear-gradient(left top, #4f4, #afa);
      }
      .html {
        background: -webkit-gradient(linear, left top, left bottom, from(#e88), to(#fee));
        background-color: #e88;
        background: -moz-linear-gradient(left top, #e88, #fee);
      }
      
      li {
        list-style: none;
        padding: 10px 0;
      }
      
      .summary li::before, .bullets li::before {
        content: '· ';
      }
      
      info {
        display: block;
        font-size: 50%;
        text-align: center;
      }
